.bg{
  height: 100vh;
  
}
body{
  margin: 0;
  padding: 0;
  background-color: blueviolet;
}

.todo-input{
 
  display: flex;
  justify-content: center;
  width: 800px;
  height: 200px;
  background-color: rgb(37, 37, 37);
  border-radius: 6px;
  align-items: center;
  margin: auto;
  margin-top: 10rem;
}
.mt{
  margin-top: 10px;
}
.todo-input input{
  height: 40px;
  width: 300px;
  border-radius: 6px;
  outline: none;
  border: none;
  margin-right: 20px;
  font-size: large;
}
.todo-input button{
  border-radius: 6px;
  outline: none;
  border: none;
  height: 40px;
  width: 80px;
}
.list{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(37, 37, 37);
  width: 800px;
  margin: auto;
  margin-top: 2em;
  color: white;
  
}
.icon{
  margin-right: 10px;
}
p{
  font-size: 25px;
  font-weight: 100;
  font-family: sans-serif;
}
.done{
  text-decoration: line-through;
  opacity: .2;
}